@import url(./styles.css);

body {
  font-family:var(--font-body);
  background: var(--bg-body);
  color: var(--text-main);
}
.header-container {
  gap: 1.5rem;
  padding: 2rem 4rem;
  background: var(--card-bg);
  border-bottom: 1px solid var(--border-color);
}
.navbar-brand{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #2563eb;
}
.imgPefil{
    border: 4px solid var(--primary);
}

.card{
    box-shadow: 0 0 8px 1px rgba(164, 161, 161, 0.2);
}
.card:hover{
   background-color: var(--border-color);
}
.icono-exit{
  width: 22px;
  opacity: 0.8;
  cursor: pointer;
}

.icono-exit:hover {
  opacity: 1;
}
.exit {

  align-items: center;
  padding: 15px;
  background-color: #fff;

  border: 1px solid var(--border-color);
  border-radius: 50px;

  text-decoration: none;
  font-size: 1rem;
  color: black;

  transition: 0.25s;
}